<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi ubicación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding" style="text-align: center;">
    <ion-label>Coordenadas</ion-label>
  </div>

  <div class="ion-padding">
    <ion-item>
      <ion-label>Latitud: {{latitud}}</ion-label>
    </ion-item>
  </div>

  <div class="ion-padding">
    <ion-item>
      <ion-label>Longitud: {{longitud}}</ion-label>
    </ion-item>
  </div>

  <div class="ion-padding" style="text-align: center;">
    <span id ="fecha">{{fecha | date: 'medium'}}</span>
  </div>

  <div class="ion-padding">
    <ion-button expand="full" (click)="obtenerCoordenadas()">Obtener</ion-button>
  </div>

</ion-content>

